In [88]:
import sqlite3
import pandas as pd
import requests

In [89]:
conn = sqlite3.connect("./data/students.db")
c = conn.cursor()

In [90]:
# head of sqlite_master
c.execute("""select * from sqlite_master limit 5;""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.head()

,type,name,tbl_name,rootpage,sql
0,table,students,students,2,CREATE TABLE students\n (id INTEGER PRI...
1,table,sqlite_sequence,sqlite_sequence,3,"CREATE TABLE sqlite_sequence(name,seq)"

In [95]:
# head of students table
c.execute("""select * from students limit 5;""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.head()

   id               name  batch_id                  created_at
0   1  Michaela Thompson         1  2019-08-27 21:28:37.364728
1   2  Stefanie Williams         1  2019-08-27 21:28:37.365836
2   3      Chad Buchanan         1  2019-08-27 21:28:37.367178
3   4     Nicole Osborne         1  2019-08-27 21:28:37.368249
4   5    Meghan Humphrey         1  2019-08-27 21:28:39.943381

In [ ]:
import os
import requests

os.environ['NO_PROXY'] = 'localhost'
r = requests.get('localhost:8000/batches')
print(r.content)

In [ ]:
import os
import requests

os.environ['NO_PROXY'] = '127.0.0.1'
r = requests.get('http://127.0.0.1:8000/batches')
print(r.content)

In [93]:
# response = requests.get('http://127.0.0.1/8000/batches').json()
response = requests.get('localhost:8000/batches').json()

response

InvalidSchema: No connection adapters were found for 'localhost:8000/batches'

In [96]:
# head of sqlite_sequence table
c.execute("""select * from batches limit 5;""")
df = pd.DataFrame(c.fetchall())
c.description
df.head()

OperationalError: no such table: batches

In [72]:
content = []

with open('data/test_runs.log') as f:
    f = f.readlines()

for line in f:
    content.append(line)

print(content)

[]

In [97]:
conn = sqlite3.connect("data/.internal.db")
c = conn.cursor()

In [99]:
c.execute("""select * from batches limit 5;""")
df = pd.DataFrame(c.fetchall())
c.description
df.head()

,0,1,2
0,1,web-a18e82aa-c911-11e9-aad9-acde48001122,2019-08-27 21:28:37.360990
1,2,web-a48a8224-c911-11e9-aad9-acde48001122,2019-08-27 21:28:42.367915
2,3,web-a78cc7ac-c911-11e9-aad9-acde48001122,2019-08-27 21:28:47.415930
3,4,web-aa8bbf80-c911-11e9-aad9-acde48001122,2019-08-27 21:28:52.442341
4,5,data_science-ad8d7944-c911-11e9-aad9-acde48001122,2019-08-27 21:28:57.486840